<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CentroEventos.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" style="text-align: left;">
    <nav class="flex-column" style="align-items: flex-start;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadousuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listado usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadopersonas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listado personas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadoeventos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listado de eventos
            </NavLink>
        </div>

        <div class="nav-item px-3"
            <NavLink class="nav-link" href="listadoeventosconcupodisponible">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listado de eventos con cupo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadoreservas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listado de reservas
            </NavLink>
        </div>
    </nav>
</div>

