@inject BajaUsuarioUseCase bajaUsuario
@inject ServicioAutorizacion permisos
@inject ISesion sesion
@inject IServicioAutorizacion autorizacion

@if(AlertError)
{
    <div>
        <Alert Color="AlertColor.Danger"> @errorMessage </Alert>
    </div>
}

@if(AlertSucces)
{
    <div>
        <Alert Color="AlertColor.Success"> Se ha borrado con exito!</Alert>
    </div>
}


@code {

    [Parameter]
    public int idUsuario {get; set;}
    private bool AlertError = false;
    private bool AlertSucces = false;
    string? errorMessage = null;
    
    private void Eliminar()
    {   
        Usuario? usu = sesion.ObtenerUsuarioActivo();

       if(usu != null&& autorizacion.PoseeElPermiso(usu, Permiso.Administrador))
        {
            try
            {
               bajaUsuario.Ejecutar(idUsuario, usu);
               AlertSucces = true;

            }catch(Exception ex)
            {   
                AlertError=true;
                errorMessage = $"Error: {ex}";
            }
        }

    }
    
}    