@page "/"
@inject IServicioAutorizacion serviAuth


<PageTitle>
    Centro de eventos
</PageTitle>

<h1>@nombre</h1>




@code
{
    List<Persona>? _lista = new List<Persona>();
    string? nombre;
    protected override void OnInitialized()
    {
        var usuario= serviAuth.ObtenerUsuarioActivo();
        if(usuario!= null)
        {
            nombre = $"nombre:  {usuario.Nombre} y apellido: {usuario.Apellido}";
        }
    }
 
}