@page "/"
@inject ISesion sesion



<PageTitle>
    Centro de eventos
</PageTitle>


<h1>Bienvenido al centro de eventos</h1>
<p>@nombre</p>


<Login />

@code
{
    List<Persona>? _lista = new List<Persona>();
    string? nombre;
    protected override void OnInitialized()
    {
        var usuario= sesion.ObtenerUsuarioActivo();
        if(usuario!= null)
        {
            nombre = $"{usuario.Nombre} {usuario.Apellido}";
        }
    }
    
 
}