@page "/"
@inject ListarPersonasUseCase listado

<PageTitle>
    Centro de eventos
</PageTitle>


@if(_lista == null)
{
    <p>no hay datos bro</p>
}
else
{
    @foreach(Persona i in _lista)    
    {
        <p><b> @i.Nombre esto esto la primer perosna @i.Dni </b></p>
    }
}


@code
{
    List<Persona>? _lista = new List<Persona>();
    protected override void OnInitialized()
    {
        _lista = listado.Ejecutar();
    }
 
}