@page "/listadousuarios"
@rendermode InteractiveServer
@inject ListarUsuariosUseCase listarUsuariosUseCase
@inject IServicioAutorizacion autorizacion
<h3>Listado de usuarios</h3>
<button class="btn btn-primary">
    <span class="bi bi-plus " aria-hidden="true"></span> 
</button> 
<table class= "table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>CorreoElectronico</th>
            <th>Permisos</th>
             @if (esAdmin)
            {
              <th>Acciones</th> <!--- Solo se ve si tengo el permiso (soy administrador) --->
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var u in _lista)
        {
            <tr>
                <td>@u.Nombre</td>
                <td>@u.Apellido</td>
                <td>@u.CorreoElectronico</td>
                <td>@string.Join(", ", u.Permisos.Select(p => p.ToString()))</td>
                @if (esAdmin)
                {
                  <td>  
                      <button class="btn btn-primary">
                            <span class="bi bi-pencil " aria-hidden="true"></span> 
                        </button>
                        <button class="btn btn-danger">
                          <span class="bi bi-trash" aria-hidden="true"></span>
                         </button>
                  </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    bool esAdmin=false;
    List<Usuario> _lista = new List<Usuario>();
    protected override void OnInitialized()
    {
        _lista = listarUsuariosUseCase.Ejecutar();
        var usuarioActual = autorizacion.ObtenerUsuarioActivo();
       esAdmin = usuarioActual != null && autorizacion.PoseeElPermiso(usuarioActual, Permiso.Administrador);
    }

}
